<div class="center hero-unit">
  <h1>Welcome to Hikist</h1>
  <p>Hikist is your place to archive, share and discover hikes.</p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
