Personal Best: <%= @hikelog.user.hikelogs.maximum("length_of_hike") %> miles
<%= image_tag("blue.jpg", size: "15x1") %>
<img src="/assets/blue.jpg" height="1" width="100">
<div size="100x5" border="1">
</div>