
  <h3> Hiker Stats </h3>
    Total Hikist Miles: <%= @user.hikelogs.sum("length_of_hike") %> <br>
    Total Elevation Change: <%= @user.hikelogs.sum("elevation_change") %><br>
    Personal Best Distance: <%= @user.hikelogs.maximum("length_of_hike") %> miles
