<li>
  <span class="title"><%= link_to hikelog.title, hikelog %></span>
  <span class="date">
  	Hiked <%= hikelog.date_of_hike.to_formatted_s(:long_ordinal) %>
  </span>
  <% if current_user?(hikelog.user) %>
    <%= link_to "delete", hikelog, method: :delete,
    							   data: { confirm: "Are you sure?" }, 
    							   title: hikelog.title %>
  <% end %>
</li>