<footer class="footer navbar navbar-fixed-bottom navbar">
  <div class="navbar-inner">
  	<div class="container">
  	  <small>
      </small>
      <nav>
  	    <ul>
  	      <li><%= link_to "About", about_path %></li>
  	      <li><%= link_to "Contact", '#' %></li>
  	      <li><%= link_to "News", '#' %></li>
  	    </ul>
      </nav>
    </div>
  </div>
</footer>